header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: gray;
}

.individualPosts {
    background-color: gray;
    color: black;
}

.login-form {
    background-color: gray;
    margin-top: 5px;
}

.signup-form {
    background-color: gray;
    margin-top: 5px;
}